:root {
  --body-main: #1f0b40;
  --body-alt: #424874;
  --purple: #b659cd;
  --pink: #fbc7fa;
  --blue: #71f4ff;
}

@font-face {
  font-family: Audiowide;
  src: url(/fonts/Audiowide-Regular.ttf);
}

@font-face {
  font-family: ZenDots;
  src: url(/fonts/ZenDots-Regular.ttf);
}

@font-face {
  font-family: PixelifySans;
  src: url(/fonts/PixelifySans-VariableFont_wght.ttf);
}

body {
  background-color: var(--body-alt);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

#logo-b {
  width: 5rem;
}

nav {
  width: fit-content;
  clip-path: polygon(0% 0%, 95% 0%, 100% 25%, 100% 100%, 5% 100%, 0% 75%);
  /* background: transparent; */
  background: var(--pink);
  position: relative;
  overflow: hidden;
  padding: 3px 3px;
}

.nav-shape {
  background: linear-gradient(90deg, #1f0b40 0%, #501da6 100%);
  clip-path: polygon(0% 0%, 95% 0%, 100% 27%, 100% 100%, 5% 103%, 0% 75%);
  position: relative;
  z-index: 0;
  padding: 1rem 2rem;
}

.nav-links {
  font-family: Audiowide;
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding-left: 0;
  /* padding: 0 1rem 0 1rem; */
  position: relative;
  z-index: 1;
}

.nav-links a {
  color: var(--purple);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--pink);
}

h1 {
  font-family: Audiowide;
  text-shadow: 3px 4px var(--purple);
  color: var(--pink);
  justify-self: center;
  font-size: 55px;
}

.active-page{
  border-bottom: 2px solid white;
}

/* ***********MAIN************* */
main {
  font-family: PixelifySans;
  font-size: 25px;
  display: flex;
  /* justify-content: space-around; */
  gap: 5rem;
  margin-bottom: 10rem;
}

.section1 {
  margin-left: 5rem;
}

.bar {
  background-color: var(--purple);
  border: 2px solid var(--pink);
  height: 1rem;
}

#image {
  border: 1px solid var(--pink);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section2 {
  margin-right: 5rem;
}

#hello {
  color: var(--pink);
  font-size: 30px;
}

.section2 p {
  color: white;
}

.contact {
  display: flex;
  align-items: center;
}

.boxes {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--body-main);
  border: 1px solid var(--blue);
  margin-right: 1rem;
}

#contact1 {
  color: var(--blue);
}

/* ***********FOOTER************* */
footer {
  display: flex;
  flex-direction: column;
}

#footer-city {
  width: 100%;
  height: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: var(--body-main);
  padding: 1rem 0;
}

.footer-text {
  text-align: center;
  font-family: PixelifySans;
  font-size: 20px;
  color: #f1a9f1;
  text-shadow: 1px 2px #e962e3;
}
