:root {
  --body-main: #1f0b40;
  --body-alt: #424874;
  --purple: #b659cd;
  --pink: #fbc7fa;
  --blue: #71f4ff;
}

@font-face {
  font-family: Audiowide;
  src: url(/fonts/Audiowide-Regular.ttf);
}

@font-face {
  font-family: ZenDots;
  src: url(/fonts/ZenDots-Regular.ttf);
}

@font-face {
  font-family: PixelifySans;
  src: url(/fonts/PixelifySans-VariableFont_wght.ttf);
}

body {
  background-color: var(--body-main);
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

#logo-b {
  width: 5rem;
}

nav {
  width: fit-content;
  clip-path: polygon(0% 0%, 95% 0%, 100% 25%, 100% 100%, 5% 100%, 0% 75%);
  /* background: transparent; */
  background: var(--pink);
  position: relative;
  overflow: hidden;
  padding: 3px 3px;
}

.nav-shape {
  background: linear-gradient(90deg, #1f0b40 0%, #501da6 100%);
  clip-path: polygon(0% 0%, 95% 0%, 100% 27%, 100% 100%, 5% 103%, 0% 75%);
  position: relative;
  z-index: 0;
  padding: 1rem 2rem;
}

.nav-links {
  font-family: Audiowide;
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding-left: 0;
  /* padding: 0 1rem 0 1rem; */
  position: relative;
  z-index: 1;
}

.nav-links a {
  color: var(--purple);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--pink);
}

h1 {
  color: var(--pink);
  text-shadow: 3px 4px var(--purple);
  font-family: Audiowide;
  justify-self: center;
}

main {
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.tab {
  width: 12rem;
  height: 2.5rem;
  background-color: var(--body-alt);
  border: 1px solid var(--pink);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Audiowide;
}

.folder {
  width: 22rem;
  height: 13rem;
  background-color: var(--body-alt);
  border: 1px solid var(--pink);
  border-top-right-radius: 3%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  font-family: PixelifySans;
}

.work-container,
.contact-container {
  background-color: var(--purple);
}
