:root {
  --body-main: #1f0b40;
  --body-alt: #424874;
  --purple: #b659cd;
  --pink: #fbc7fa;
  --blue: #71f4ff;
}

@font-face {
  font-family: Audiowide;
  src: url(/fonts/Audiowide-Regular.ttf);
}

@font-face {
  font-family: ZenDots;
  src: url(/fonts/ZenDots-Regular.ttf);
}

@font-face {
  font-family: PixelifySans;
  src: url(/fonts/PixelifySans-VariableFont_wght.ttf);
}

body {
  background-color: var(--body-main);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#logo-b {
  width: 5rem;
}

nav {
  width: fit-content;
  clip-path: polygon(0% 0%, 95% 0%, 100% 25%, 100% 100%, 5% 100%, 0% 75%);
  /* background: transparent; */
  background: var(--pink);
  position: relative;
  overflow: hidden;
  padding: 3px 3px;
}

.nav-shape {
  background: linear-gradient(90deg, #1f0b40 0%, #501da6 100%);
  clip-path: polygon(0% 0%, 95% 0%, 100% 27%, 100% 100%, 5% 103%, 0% 75%);
  position: relative;
  z-index: 0;
  padding: 1rem 2rem;
}

.nav-links {
  font-family: Audiowide;
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding-left: 0;
  /* padding: 0 1rem 0 1rem; */
  position: relative;
  z-index: 1;
}

.nav-links a {
  color: var(--purple);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--pink);
}

.active-page{
  border-bottom: 2px solid white;
}
/* ***********MAIN************* */
h2 {
  font-family: ZenDots;
  font-size: 25px;
  font-weight: lighter;
}

.project-container {
  margin: 0 5rem;
}

.project-main-image {
  margin: 0 5rem;
}

#img1 {
  width: 100%;
  border-radius: 3%;
  border: 2px solid var(--blue);
}

#line1 {
  border: 4px solid var(--pink);
  margin: 2rem 0 5rem 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin-bottom: 5rem;
}

.shape-border {
  background-color: var(--pink);
  clip-path: polygon(10% 0%, 100% 0%, 100% 52%, 90% 100%, 0% 100%, 0% 47%);
  position: relative;
  padding: 0.4rem;
  width: 100%;
}

.shape {
  background: var(--body-main);
  clip-path: polygon(10% 0%, 100% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 50%);
  background: linear-gradient(90deg, #1f0b40 0%, #501da6 100%);
  position: relative;
  z-index: 0;
  padding: 0.2rem 0;
}

.shape h1 {
  color: var(--purple);
  font-family: Audiowide;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  /* padding: 1rem 1rem; */
}

.shape a {
  text-decoration: none;
}

.shape a:hover h1 {
  color: var(--pink);
}

#line2 {
  border: 4px solid var(--pink);
  width: 15rem;
}

.category-description,
.goal-improvements {
  display: flex;
  align-items: center;
  gap: 10rem;
  background-color: var(--purple);
  padding: 2rem 5rem;
  color: white;
  height: 20rem;
}

.category-text {
  width: 100%;
}

.category-text h2,
.goal-text h2 {
  color: var(--blue);
}

.vertical-line {
  border-left: 2px solid var(--blue);
  font-family: PixelifySans;
  font-size: 25px;
}

.description-text {
  font-family: PixelifySans;
  font-size: 25px;
}

.image-2,
.image-3 {
  /* border: 2px solid wheat; */
  display: flex;
  justify-content: center;
  margin: 2rem 10rem 2rem 10rem;
}

.features-section {
  margin: 0 15rem;
}

.features-border {
  background-color: var(--blue);
  clip-path: polygon(5% 0%, 100% 0%, 100% 90%, 95% 100%, 0% 100%, 0% 10%);
  position: relative;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.features-shape {
  background-color: var(--body-alt);
  clip-path: polygon(5% 0%, 100% 0%, 100% 90%, 95% 100%, 0% 100%, 0% 10%);
  position: relative;
  z-index: 0;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-family: PixelifySans;
}

.points-container {
  display: flex;
  gap: 3rem;
}

.point {
  display: flex;
  align-items: center;
}

.boxes {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--blue);
  margin-right: 1rem;
}

.bar {
  height: 2rem;
  background-color: var(--body-alt);
  border: 2px solid var(--blue);
}

.improvements-text {
  font-family: PixelifySans;
  font-size: 25px;
}

.pixel-bar {
  width: 30%;
  height: 5rem;
  border: 5px solid var(--pink);
  position: relative;
  image-rendering: pixelated;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  margin: 2rem 5rem 10rem 0;
}

.corner {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--body-main);
  z-index: 2;
}

.t-left {
  top: -5px;
  left: -5px;
}

.t-right {
  top: -5px;
  right: -5px;
}

.b-left {
  bottom: -5px;
  left: -5px;
}

.b-right {
  bottom: -5px;
  right: -5px;
}

#fill{
  background: linear-gradient(90deg, #1F0B40 61.06%, #501DA6 100%);
  width: 100%;
  display: flex;
  justify-content: center;
}

#fill h2{
  color: var(--purple);
}

#fill a{
text-decoration: none;
}

/* ***********FOOTER************* */
footer {
  display: flex;
  flex-direction: column;
}

#footer-city {
  width: 100%;
  height: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: var(--body-main);
  padding: 1rem 0;
}

.footer-text {
  text-align: center;
  font-family: PixelifySans;
  font-size: 20px;
  color: #f1a9f1;
  text-shadow: 1px 2px #e962e3;
}
