:root {
  --body-main: #1f0b40;
  --body-alt: #424874;
  --purple: #b659cd;
  --pink: #fbc7fa;
  --blue: #71f4ff;
}

@font-face {
  font-family: Audiowide;
  src: url(/fonts/Audiowide-Regular.ttf);
}

@font-face {
  font-family: ZenDots;
  src: url(/fonts/ZenDots-Regular.ttf);
}

@font-face {
  font-family: PixelifySans;
  src: url(/fonts/PixelifySans-VariableFont_wght.ttf);
}

body {
  background-color: var(--body-alt);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#logo-b {
  width: 5rem;
}

nav {
  width: fit-content;
  clip-path: polygon(0% 0%, 95% 0%, 100% 25%, 100% 100%, 5% 100%, 0% 75%);
  /* background: transparent; */
  background: var(--pink);
  position: relative;
  overflow: hidden;
  padding: 3px 3px;
}

.nav-shape {
  background: linear-gradient(90deg, #1f0b40 0%, #501da6 100%);
  clip-path: polygon(0% 0%, 95% 0%, 100% 27%, 100% 100%, 5% 103%, 0% 75%);
  position: relative;
  z-index: 0;
  padding: 1rem 2rem;
}

.nav-links {
  font-family: Audiowide;
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding-left: 0;
  /* padding: 0 1rem 0 1rem; */
  position: relative;
  z-index: 1;
}

.nav-links a {
  color: var(--purple);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--pink);
}

.active-page{
  border-bottom: 2px solid white;
}

/* ***********MAIN************* */
main {
  display: flex;
  justify-content: space-around;
  height: auto;
  overflow: hidden;
  margin-bottom: 10rem;
}

.bar1 {
  width: 100%;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.stripe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  background-color: var(--blue);
  transform: skew(-50deg);
  /* box-shadow: 0 0 0 4px var(--body-main); */
}

.stripe:nth-child(1) {
  left: 0;
}
.stripe:nth-child(2) {
  left: 100px;
}
.stripe:nth-child(3) {
  left: 200px;
}
.stripe:nth-child(4) {
  left: 300px;
}

.fill {
  position: absolute;
  left: 400px;
  top: 0;
  height: 100%;
  right: 0;
  background-color: var(--blue);
  transform: skew(-50deg);
}

.big-image {
  display: flex;
  height: auto;
  width: 60rem;
  flex: 1;
  margin-bottom: 1rem;
}

#main-image {
  max-width: 100%;
  max-height: 90%;
  transition: opacity 0.5s ease;
}

.bar2 {
  height: 1.5rem;
  background-color: var(--blue);
  margin-bottom: 2rem;
}

.page-button {
  width: 50%;
}

.shape-border {
  background-color: var(--pink);
  clip-path: polygon(10% 0%, 100% 0%, 100% 52%, 90% 100%, 0% 100%, 0% 47%);
  position: relative;
  padding: 0.4rem;
  /* width: 20rem; */
}

.shape-filler {
  background: var(--body-main);
  clip-path: polygon(10% 0%, 100% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 50%);
  position: relative;
  z-index: 0;
  padding: 0.2rem 0;
}

.shape-filler h1 {
  color: var(--purple);
  font-family: Audiowide;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  /* padding: 1rem 1rem; */
}

.shape-filler a {
  text-decoration: none;
}

.shape-filler a:hover h1 {
  color: var(--pink);
}

hr {
  border: 2px solid var(--pink);
  width: 50%;
}

.section2 {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  perspective: 1000px;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 50% 0;
  height: 30rem;
  flex-shrink: 0;
}

.section2::-webkit-scrollbar {
  display: none;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-border {
  background-color: var(--blue);
  clip-path: polygon(
    10% 0%,
    90% 0%,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  );
  position: relative;
  padding: 5px 5px;
  height: 20rem;
  width: 30rem;
  margin: 3rem 0;
  scroll-snap-align: start;

  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
}

.shape {
  clip-path: polygon(
    10% 0%,
    90% 0%,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  );
  position: relative;
  z-index: 0;
  /* padding: 1rem 1rem; */
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  background-size: cover;
  background-position: center;
  /* transition: transform 0.3s ease, opacity 0.3s ease; */
  /* will-change: transform, opacity; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.shape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shape:hover {
  transform: scale(1.01);
}

/* ***********FOOTER************* */
footer {
  display: flex;
  flex-direction: column;
}

#footer-city {
  width: 100%;
  height: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: var(--body-main);
  padding: 1rem 0;
}

.footer-text {
  text-align: center;
  font-family: PixelifySans;
  font-size: 20px;
  color: #f1a9f1;
  text-shadow: 1px 2px #e962e3;
}
